<div class="row">
    <div class="col-md-3 card">
    		<span class="hipster img-fluid rounded card-img-top"></span>
			  <div class="card-body">
			   <!--  <h4 class="card-title">Pujya GurumaYug Pradhan Acharya Sum Param Pujya Panyas Shri Chandrashekhar Vijayji Ma Sa.</h4> -->
			    <p class="card-text">
			    	   હુ ઇચ્છું છું કે,
				    <br/>
				    <br/>
					ભારતીય પરંપરા અને રીતિરીવાજ ને ફરી ઉજાગર કરી માતૃભૂમિ ના ગૌરવ ને વધારવા માટે ફ્ક્ત બે નહિ પરંતુ દેશના દરેક જિલ્લા મા તપોવન હોવું જોઇએ.
					<br/>
					<br/>
					અને આ ઉત્તમ કાર્ય માટે જૈન સાધુ સંતોએ ઘણો જ મહત્વનો ફાળો આપવો પડશે. દેશભક્ત, સંસ્કૃતિ રક્ષક તેમજ ધર્મિષ્ઠ વ્યકિત એ જગડુસા અને ભામાસાહ બનવા આગળ આવવું જ પડશે.
					<br/>
					<br/>
					અને આ વ્યકિતઓ એ તેમની સંપત્તિ આવી ઉત્તમ સંસ્થાને અર્પણ કરીને આપણા દેશ, ધર્મ, સંસ્કૃતિ અને રીતભાતની સાચવણી કરવી જોઇએ.
			    </p>
			  </div>
    </div>
    <div class="col-md-9">
    	<div class="row">
	    	<div class="col-md-8">
		        <h2 class="display-4" style="color: #b9538c;font-family: sans-serif" jhiTranslate="home.title">Tapovan Sanaskardham</h2>
		        <h3 style="color: #b9538c;font-family: sans-serif" jhiTranslate="home.subtitle">[NAVSARI]</h3>
	    	</div>
	    	<div class="col-md-4" style="margin-bottom: 10px;">
				<span class="tapovan-logo img-fluid rounded card-img-right"></span>
	    	</div>
	    </div>

        <div style="background-color: antiquewhite;padding: 10px;">
			<marquee><strong>Tapovan Sanskar Dham Admissions Open for the year 2018-2019 / Online inquiry forms for Shibir(Outreach Section) and Admissions ( Parents Corner )available.</strong></marquee>
		</div>

        <p>
           <div class="alert alert-success">
                A residential english medium C.B.S.E. affiliated school for boys established at navsari (gujarat) by Vardhaman Sanskriti Dham under the inspiration of his holiness Yug Pradhan Acharya Sum Param Pujya Panyas Shri Chandrashekhar Vijayji Ma Sa.
				<br/>
				<br/>
				The campus is spread over across 30 acres in lush green enviornment. Since 1983, the institute has made remarkable positive influence on thousands of students who are now true and loyal devotees of their own parents and of Shri Jain Shashan, besides their excellency in wonderful career..
            </div>
        </p>
		<p>
			<div class="row alert alert-success" style="margin: 0px;background-color: gold">
				<div class="col-md-9" style="font-weight: 650;">IMPORTANT NOTICE ABOUT SCHOOL FEES (શાળાની ફી બાબતે અગત્યની સુચના) </div>
				<div class="col-md-3"><a href="#" class="btn btn-danger" style="width: 100%;" target="_blank" rel="noopener">
				Click Here <span class="badge badge-light"></span></a></div>
			</div>
		</p>
        <div class="row" style="padding: 2%">
			<div class="col-md-4 card" style="padding-top: 2%">
			  <img class="card-img-top" src="../../content/images/School.png" alt="Card image">
			  <div class="card-body">
			    <a href="#" class="btn btn-primary" style="width: 100%;" target="_blank" rel="noopener">
			  	  View School <span class="badge badge-light"></span></a>
			  </div>
			</div>
			<div class="col-md-4 card" style="padding-top: 2%">
			  <img class="card-img-top" src="../../content/images/Hostel.png" alt="Card image">
			  <div class="card-body">
			    <a href="#" class="btn btn-primary" style="width: 100%;" target="_blank" rel="noopener">
			    View Hostel <span class="badge badge-light"></span></a>
			  </div>
			</div>
			<div class="col-md-4 card" style="padding-top: 2%">
			  <img class="card-img-top" src="../../content/images/Madhyasth.PNG" style="height: 69%;" alt="Card image">
			  <div class="card-body">
			    <a href="#" class="btn btn-primary" style="width: 100%;" target="_blank" rel="noopener">
			    View Madhyasth <span class="badge badge-light"></span></a>
			  </div>
			</div>
        </div>
        
        <!-- <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
        </ul> -->

        <!-- <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
        </p> -->
    </div>
</div>
